:root {
    --background-color: #000246;
    --base-link-color: #ffffff;

    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Outfit', sans-serif;

    --base-font-size: 1rem;
    --h1-font-size: 4rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.5rem;
    --h4-font-size: 1.25rem;

}

body {
    background: var(--background-color);
    color: #fff;
    font: var(--base-font-size) / 1.6 var(--font-primary);
}

h1, h2, h3, h4 {
    font-family: var(--font-secondary);
    text-transform: capitalize;
}

a {
    font-family: var(--font-primary);
    color: var(--base-link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

/* NAVIGATION BAR */
.header {
    display: flex;
    align-items: center;
    line-height: 4rem;
    font-size: 1.5rem;
    padding: 1rem 5rem;
}

.logo {
    font-weight: bold;
    margin-right: auto;
}

.menu {
    display: flex;
    justify-content: space-between;
    flex-basis: 33.33%;
    gap: 36px;
}

.menu-item {
    text-align: right;
}

/* HERO SECTION */
.hero {
    background-color: var(--background-color);
    background-image: url('../images/computer.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
    height: 500px;
    display: flex;
    align-items: center;
    padding: 2rem 5rem;
}

.hero-content {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero h1 {
    font-weight: bold;
    font-size: 50px;
    margin: 0;
}

.hero .blurb {
    font-family: var(--font-primary);
    font-size: 1.25rem;
    margin: 0;
}

.hero-buttons {
    display: flex;
    gap: 1rem;
}

.hero-buttons .button,
.hero-buttons .button-outline {
    padding: 0.75rem 1.5rem;
    border-radius: 83px;
    text-decoration: none;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 30%;
}

.hero-buttons .button {
    background-color: #8D8DDB;
    border: none;
    color: #fff;
}

.hero-buttons .button-outline {
    background-color: transparent;
    border: 2px solid #88D0D1;
    color: #fff;
}

/* FEATURED LOGOS */
.featured {
    text-align: center;
    padding: 2rem 4rem;
}

.featured p {
    text-align: left;
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 20px;
}

.featured-logos {
    background: linear-gradient(to right, rgba(99, 88, 189, 0.3), rgba(99, 88, 189, 1));
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
    padding: 2rem 4rem;
}

.featured-logos img {
    max-height: 50px;
    object-fit: contain;
}

/* ANALYTICS */
.analytics {
    background-color: var(--background-color);
    background-image: url('../images/task.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    height: 485px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 2rem 5rem;
}

.analytics-content {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.analytics h2 {
    font-size: 57px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.analytics a {
    font-family: var(--font-secondary);
    font-weight: 600;
    font-size: 20px;
    color: #AAD9D9;
}
.analytics p {
    font-family: var(--font-primary);
    font-size: 18px;
}

.analytics .button {
    background-color: #8D8DDB;
    padding: 0.75rem 1.5rem;
    border-radius: 83px;
    color: #fff;
    font-family: var(--font-secondary);
    font-weight: 600px;
    font-size: 20px;
    border: none;
}

/* GET APP */
.app {
    background-color: var(--background-color);
    background-image: url('../images/clip.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
    height: 485px;
    display: flex;
    align-items: center;
    padding: 2rem 5rem;
}

.app-content {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.app h2 {
    font-size: 57px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.app a {
    font-family: var(--font-secondary);
    font-weight: 600;
    font-size: 20px;
    color: #AAD9D9;
}
.app p {
    font-family: var(--font-primary);
    font-size: 18px;
}

.app .button {
    background-color: #8D8DDB;
    padding: 0.75rem 1.5rem;
    border-radius: 83px;
    color: #fff;
    font-family: var(--font-secondary);
    font-weight: 600px;
    font-size: 20px;
    border: none;
}